.banner{
    width: 100%;
    height: 650px;
    background:url(../img/PRAIA.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat ;
}

.margin{
    margin-bottom: 0;
}

.padding{
padding-top: 10px;
padding-bottom: 10px;
}

.praia1{
    width: 100%;
}

.praia1 img{
    width: 100%;
}

.link-conf a {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 7px;
    border-radius: 3px;
}

.link-conf a:hover{
    color: red;
    background-color: white;
}

.esp-bottom{
    border: 1px solid gray;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.44);
    margin-bottom: 20px;

}

